*.out
examples/bin
.vscode
**/debug
**/debug.test
examples/simple-filter-xml-post/simple-filter-xml-post
examples/simple-filter-xml-mqtt/simple-filter-xml-mqtt
examples/simple-filter-xml/simple-filter-xml
go.sum
*.log
*.txt
*.html
*.out
*.dll
*.exe